<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="center">
        <h2> The last petition you will ever sign. </h2>

        {{{body}}}
    </div>
</body>
<footer class="footer"> © 2020 Marian Heidbreder - mail@marianheidbreder.de</footer>
</html>