        <form method="POST">

        <div>
            <label for="first">First Name</label>
            <input type="text" id="first" name="first" label="first" autofocus>
        </div>
        
        <div>
            <label for="last">Last Name</label>
            <input type="text" id="last" name="last" label="last">
        </div>

        <div>
            <label for="email">Email Address</label>
            <input type="text" id="email" label="email" name="email" autofocus>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="text" id="password" label="password"  name="password">
        
        </div>

            <div>
                <label for="age">Age</label>
                <input type="text" id="age" label="age" name="age">
            
            </div>

            <div>
                <label for="city">City of residence</label>
                <input type="text" id="city" label="city" name="city">
            </div>

            <div>
                <label for="age">Your homepage's url</label>
                <input type="text" id="url" label="url" name="url">
            
            </div>

            <div>
                <input type="submit" value="complete profile" id="submit">
            
            </div>
                </form>
        </div>
            {{#if error}}
        <div class="error-text">Oh no! Something went wrong! Please try again!</div>
            {{/if}}

    </div>