<div class="center">
    <div class="container">
        blabla
        <form action="/petition" method="POST">
        <div>
            <label for="first">First name:</label>
            <input name="first" type="text" id="first"> 
        </div>
        <div>
            <label for="last">First name:</label>
            <input name="last" type="text" id="last">
        </div>
        <div>
            <canvas id="sig-canvas"></canvas>
        </div>
            will be hidden later:<input name="sig" type="text" id="sig">
            <input name="sign" type="submit" value="sign" id="sign">
        </form>
    </div>
</div>