<div class="flex-column container">
<div  id="thanks"> Thanks!  </div>
<div class="hero-text smaller">Petition signed successfully.</div>
    <div> Your signature is:</div>
    <div class="signature"><img src="{{imgSignature}}" alt="could-not-find"> </div>
    <div>
        <a href="/signers"><h3 id="co-signers"> <strong>{{signersCount}}</strong> co-signers</h3></a>
    </div>



    <div class="hero-text smaller">If you have friends who hate petitions just as much as you do, make sure you share this petitions with them!</div>
</div>